# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear
*.zip
*.tar.gz
*.rar

*.list
hi-nginx-java.jar

.settings/
.classpath
.project
.idea/
hi-nginx-java.iml
